img {
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

p {
    padding: 40px 250px 40px 250px;
    background-color: cornsilk;
    text-align: left;

}

.home-p {
    margin-bottom: 0;
}